/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --font-main: "Inter-Variable", sans-serif;
  --font-accent: "PressStart2P", sans-serif;
  --font-weight-text: 400;
  --font-weight-heading: 700;
  --font-size-text: 18px;
  --font-color: #000;
  --html-outline-color: #fff;
  --font-like-color-hover: #fff;
  --heart-contour-color: #000;
  --heart-nature-color: #ff0000;
  --heart-core-color: #040303;
  --floppy-color: #000;
  --floppy-reverse: #fff;
  --footer-buttom-text-color: #000;
  --button-text-color: #000;
  --button-text-reverse-color: #fff;

  --bg-color: #fff;
  --background-image: repeating-linear-gradient(
      #d3d3d3 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(90deg, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
}
